<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title %}
        {{ page.title }} -
      {% endif %}
      {{ site.title }}
    </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/assets/css/zocial.stripped.css" rel="stylesheet" type="text/css" >
    <link href="/assets/css/pygments.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/css/darkstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="/assets/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">


    <!-- fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>


          <a class="brand" href="/"><i class="icon-home"></i></a>


          <div class="nav-collapse">
            <ul class="nav">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include helper/pages_list %}
            </ul>
            <ul class="nav pull-right social visible-desktop">
              <li class="divider-vertical"></li>
              <li>
                <a href="https://gitlab.com/10io" class="zocial github icon" target="_blank">
                  <span class="hidden-desktop">Github</span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/10io" class="zocial twitter icon" target="_blank">
                <span class="hidden-desktop">Twitter</span>
                </a>
              </li>
              <li>
                <a href="http://www.linkedin.com/in/davidfernandezba" class="zocial linkedin icon" target="_blank">
                  <span class="hidden-desktop">LinkedIn</span>
                </a>
              </li>
              <li>
                <a href="/rss.xml" class="zocial rss icon" target="_blank">
                  <span class="hidden-desktop">RSS feed</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        {{ content }}
      </div>

      <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }} |
          Crafted with <a href="http://jekyllrb.com" target="_blank">Jekyll</a> |
          Dressed with <a href="https://github.com/dhulihan/hooligan" target="_blank">Hooligan</a> |
          Served by <a href="http://pages.github.com" target="_blank">Github</a> |
          Rendered in <a href="http://validator.w3.org/check?uri={{site.production_url}}{{ page.url }}" target="_blank">HTML5</a>
        </p>
      </footer>
    </div> <!-- /container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/jquery.min.js"><\/script>')</script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
